:root {
  --accent-color: #fff;
  --header-color: #c7c7c7;
  --order-color: #959595;
  --background-color: #012d63;
  --language-color: #dcdcdc;
  --button-color: #8e32c6;
  --date-color: #d8d8d8;
  --order-confirm-color: #8d8d8d;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--background-color);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
}

.header-list {
  display: flex;
  gap: 29px;
}

.header-language {
  display: flex;
  gap: 15px;
}

.header-link {
  color: var(--header-color);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.header-link:hover {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  transition: 0.2s;
}

.header-language-link {
  color: var(--language-color);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.header-language-link:hover {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  transition: 0.2s;
}

/* colorave */

.colorave {
  background-image: url("../img/img.colorave/colorave-fon.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 94px 0 183px 0;
}

.colorave-sign {
  color: var(--accent-color);
  font-family: PT Serif;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.colorave-tittle {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
  line-height: normal;
}

.colorave-text {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.colorave-info {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  max-width: 508px;
  margin-bottom: 41px;
}

.colorave-btn {
  border-radius: 10px;
  background: var(--button-color);
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding: 20px 61px;
  border: 0;
}

/* paint */

.paint {
  padding: 105px 0;
  background-image: url("../img/img.paint/paint-fon.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.paint-list {
  display: flex;
  justify-content: space-around;
  border: 5px solid var(--button-color);
  padding: 25px 0;
}

.paint-item {
  padding: 0 50px;
}

.paint-item:nth-child(2n) {
  border-right: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  padding: 0 95px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.paint-tittle {
  color: var(--accent-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

/* revievs */

.reviews {
  padding: 25px 0 114px 0;
  background-image: url("../img/img.reviews/reviews-flovers.webp"),
    url("../img/img.reviews/reviews-fon.webp");
  background-position: left 0 bottom 0, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.reviews-list {
  display: flex;
  gap: 93px;
  justify-content: center;
}

.reviews-item {
  padding: 49px 9px 29px 18px;
  border-radius: 15px;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.reviews-item:nth-child(2) {
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );

  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.reviews-item:nth-child(3) {
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

.reviews-tittle {
  color: var(--accent-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

.reviews-info {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  width: 228px;
  margin-bottom: 8px;
}

.reviews-date {
  color: var(--date-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 47px;
  display: block;
}
.reviews-people-wrapper {
  display: flex;
  align-items: center;
}

.reviews-people-box {
  margin-left: 5px;
}

.reviews-name {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1px;
}

.reviews-years {
  color: var(--date-color);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

/* order */

.order {
  padding: 21px 0 37px 0;
  background-image: url("../img/img.order/order-fon.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.order-tittle {
  color: var(--accent-color);
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 33px;
}

.order-input {
  width: 560px;
  height: 60px;
  background: var(--accent-color);
  border: 0;
  color: var(--order-color);
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 25px;
  margin-bottom: 19px;
}

.order-btn-text {
  height: 60px;
  background: var(--accent-color);
  color: var(--order-color);
  padding: 13px 79px 13px 0px;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 0;
}

.order-inputs {
  width: 580px;
  height: 50px;
  border-radius: 50px;
  background: var(--accent-color);
  border: 0;
  margin-bottom: 19px;
  color: var(--order-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding-left: 24px;
}

.order-nike-btn {
  border-radius: 16px;
  background: #8e32c6;
  padding: 20px 49px;
  border: 0;
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.order-form {
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 10px;
}

footer {
  background-color: #021635;
  padding: 45px 0 37px 0;
}

.footer-text {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  display: block;
}

.footer-email-link {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 10px;
  display: block;
}

.footer-container-logo {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  align-items: center;
}

.footer-reserved-text {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer-reserved-text:nth-child(1) {
  margin-bottom: 7px;
  display: block;
}

.footer-logo-text {
  color: var(--accent-color);
  font-family: PT Serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-align: center;
}
